asyncio
pyrofork
gTTS
aiofiles
aiohttp
ffmpeg
beautifulsoup4
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
httpx
motor
numpy
opencv-python-headless
pytz
pillow==9.5.0
psutil
py-tgcalls==0.9.7
pykeyboard
python-dotenv
pyyaml
requests
SafoneAPI
speedtest-cli
spotipy
tgcrypto
telegraph
unidecode
youtube-search
youtube-search-python
py-yt-search
yt-dlp>=2024.0.0
